.idea
.vs
.localhistory
*.iml
*.csproj
*.log
*.iml
*.sln
*.user
*.userprefs
UnityVS.*
build.xml
Library
Temp
Out
obj
target
Utils/GroundTextureConvertor/bin
Assets/Resources/Configs/Overrides
Assets/Resources/Configs/Overrides.meta
Assets/Runtime/Plugins
Assets/Plugins/Android
Assets/Plugins/Android.meta
Assets/Plugins/VkApiForMobile/Resources/VkSettings.asset
Assets/Plugins/VkApiForMobile/Resources/VkSettings.asset.meta
Assets/Resources/Configs/LocalConfig.xml
Assets/Resources/Configs/LocalConfig.xml.meta